.button-submit {
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
    padding: 0.7rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    border-radius: 10px;
}

.button-submit:hover {
    color: #FFFFFF;
    background-color: #ff0000;
    border-radius: 30px;

}

.button-unvisible-top {
    background-color: rgba(0, 0, 0, 0);
    color: #000000;
    padding: 8px 8px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 5pt;
    transition: 0.5s;
    font-weight: bold;
}

.button-unvisible-top:hover {
    color: #ff0000;
    text-decoration: none;
}

.button-unvisible {
    background-color: rgba(0, 0, 0, 0);
    color: #000000;
    border: none;
    padding: 5px 8px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.5s;
    font-weight: bold;
    text-decoration: none;
}

.button-unvisible:hover {
    color: #ff0000;
}

.button-go-back {
    background-image: "icon-back.jpg";
    height: 10%;
    width: auto;
}

  
.btn {
    color: #000000;
    border: 1px solid rgb(0, 0, 0);
    background: transparent;
    color: #FFFFFF;
    background-color: #000000;
    border: 1px solid  #000000;

    padding: 0.7rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    transition: 500ms;
    border-radius: 10px;

}
  
.btn:hover {
    color: #FFFFFF;
    background-color: #ff0000;
    border: 1px solid #ff0000;
    border-radius: 24px;
}