.body {
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    background-color: #000000;
    text-align: center;
}

.header {
    background-size: cover;
    background-position: top;
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: opacity 0.3s ease;
}

.header-left {
    background-size: cover;
    background-position: top;
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0px;
    display: flex;
    justify-content: left;
    align-items: center;
    z-index: 100;
    transition: 0.3s;
}

.container-nav {
    background-color: rgb(255, 247, 247);
    background-blend-mode: color-burn;
    border: 3px solid #dfdfdf;
    margin-top: -10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
    transition: 0.3s;
}

.navbar a {
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    font-weight: 500;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    transition: color 0.3s; 
}

.navbar a:hover {
    color: #ff0000; 
}